<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <title>RaceUP</title>
  </head>
  <body>
    <form action="/add_runner" method="post">
      <div class="fields" id="fields">
        <span>Add Runner:</span>
        <input type="text" name="bib_id" value="{{newId}}" readonly>
        <input type="text" placeholder="Runner's Full Name" name="name">
        <input type="text" placeholder="Sponsor" name="sponsor">
        <input type="text" placeholder="Division" name="division">
      </div>
      <div class="footer">
        <button>Save</button>
      </div>
    </form>
  </body>
</html>
