<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <title>RaceUp</title>
</head>

<body>
  <h1>RaceUp Runners</h1>
  <a href="/add_runner">New Runner</a>
  <div class="container">
    {{#runners}}
    <div class="runnerbox"
      <p>Name: <a href="/{{bib_id}}">{{name}}</a></p>
      <p>Division: {{division}}</p>
      <p>Sponsor: {{sponsor}}</p>
      <br>
    {{/runners}}
  </div>
</body>

</html>
