<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="utf-8">
  <title>RaceUp</title>
</head>
  <body>
    <a href="/">Home</a>
    {{#runner}}
    <p>Name: {{name}}</p>
    <p>Division: {{division}}</p>
    <p>Sponsor: {{sponsor}}</p>
    {{/runner}}

  </body>
</html>
